.plus-icon{
    background: url(/assets/icons/plus-solid.svg) 16% 0% no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    zoom: 109%;
    border: 0;
}
.plus-icon:hover{
    border: 0px;
}