$main-color: #d30090;
$main-background-color: #f6f7fb;
$main-font-family: Verdana, sans-serif;

$dark-button-color: #000;
$dark-button-text-color: #fff;
$dark-button-border-color: #000;

$light-button-color: #fff;
$light-button-text-color: #000;
$light-button-border-color: #fff;