  @media(max-width : 767px){

  }
  .Footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;
 
    display: flex;

    justify-content: space-between;

  align-items: center;
  padding: 0 2rem;
  }

  .left, .middle{
    color: white;
    font-size: 12px;
  }
 
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(143, 138, 125);
    text-decoration: none;
  }
    a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
