<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="f1">
    <h3>About Company</h3>
    <p class="About">
        Welcome to Company information . <br>
        Here you can find details for the Company
        
            
        
    </p>
    <div class="bu">
        <a href="https://twitter.com/"><button class="btn"><i class="fa fa-twitter"></i></button></a>
            <a href="https://www.instagram.com/"><button class="btn"><i class="fa fa-instagram"></i></button></a>
            <button class="btn"><i class="fa fa-linkedin"></i></button>
            <button class="btn"><i class="fa fa-google"></i></button>
    </div>
    <hr style="height:2px;border-width:10;color:rgb(0, 0, 0)">
</div>

<h6> <a href="">© Copyright 2022.</a> All Rights Reserved.     
    </h6>