@import './../../styles/settings.scss';
.logo{
  height: 3rem;
  margin-left: 40px;
  border-radius: 2px;
}
.profile_photo{
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
}

.button-color{
  border: 0;
  background-color: transparent !important;
  margin-right: 30px;
  margin-left: 30px;
}

.bg-light{
  background-color: $navbar-background-color !important;
  padding: 0 !important;
}

.navbar-collapse{
  position: absolute;
  right : 10px;
}

.btn-color{
  border: 0;
  background-color: transparent !important;
  font-size: 18px;
  color: rgb(224, 224, 224);
}

.btn-color:hover{
  color: $navbar-button-hover;
  box-shadow: 0px 0px 10px .5px rgb(112, 112, 112);
}

.btn-color:focus{
  box-shadow: none;
}

.userName{
  border-bottom: 1.5px solid rgb(224, 224, 224);
  font-size: 17px;
  color: rgb(224, 224, 224);
}

.dropdown-button{
  color: $navbar-button-hover !important;
  padding: 0 20px;
  height: 40px;
  line-height: 15px;
  font-size: 15px;
}

.dropdown-button:hover{
  background-color: rgb(224, 224, 224);
}

::ng-deep .menu-dropdown{
  background-color: $navbar-background-color !important;
  margin-top: 10px;
  border-radius: 2% !important;
}
