<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <!-- Brand Logo -->
      <a class="navbar-brand" href="#">
        <img class="logo" src="/assets/Images/HRlogoimage.png" />
      </a>
      <button 
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <!--this button is to represent the 3 lines which you see when see the web browser in mobile view -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <button type="button" class="btn btn-primary btn-color">Recommend</button>
        <!--mat-button rectangular text button with no elevation-->
        <button mat-button [matMenuTriggerFor]="first_dropdown" class="btn-color btn btn-primary">View Recommendation
        </button>
        <!--<mat-menu> element does not render anything. The menu is attached to and opened via application of the matMenuTriggerFor-->
        <mat-menu #first_dropdown="matMenu" class="menu-dropdown">
          <button mat-menu-item class="dropdown-button">View Recommendations</button>
          <button mat-menu-item class="dropdown-button">Public Recommendations</button>
          <button mat-menu-item class="dropdown-button">Private Recommendations</button>
          <button mat-menu-item class="dropdown-button">Archived Recommendations</button>
        </mat-menu>
        <!--mat-menu is floating panel contaning a list of options containging button as well-->

        <button mat-button [matMenuTriggerFor]="second_dropdown" class="button-color">       
          <img class="profile_photo" src="/assets/Images/userprofileimage.png" />
        </button>
        <mat-menu #second_dropdown="matMenu" class="menu-dropdown">
          <button mat-menu-item class="userName">Sample name</button>
          <button mat-menu-item class="dropdown-button">View Profile</button>
          <button mat-menu-item class="dropdown-button">Update Profile</button>
          <button mat-menu-item class="dropdown-button">Logout</button>
        </mat-menu>
      </div>
    </div>
  </nav>
</div>
