<!--<p>home works!</p>-->
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
            <div style="padding-top:80px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <p class="h2 mb-2">Login</p><br>
                            
                            <form>
                                <div class="form-group mb-3">
                                    <table><tr><td style="padding-right: 10px;"><input id="name" type="First Name" placeholder="First Name" required="" autofocus="" class="form-control border-0 shadow-sm px-4"></td><td><input id="name" type="Last Name" placeholder="Last Name" required="" autofocus="" class="form-control border-0 shadow-sm px-4"></td></tr></table>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control border-0 shadow-sm px-4 ">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control border-0 shadow-sm padding-4 text-primary">
                                </div>
                                <!--<div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>-->
                                <div class="custom-control custom-checkbox mb-3">
                                    <table><tr><td style="padding-right: 30px;">
                                    <div>
                                      <!-- Remember me -->
                                      <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                      <label for="usercheck" class="custom-control-label">Remember me</label>
                                    </div></td>
                                    <td><div>
                                      <!-- Forgot password -->
                                      <a href="">Forgot password?</a><br>
                                    </div></td></tr></table>
                                  </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 shadow-sm">Sign in</button>
                                <div class="text-center d-flex justify-content-between mt-4"></div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->
</div>
            </div>
        </div><!-- End -->

    </div>
</div>