<div class="container px-lg-5">
  <div class="row align-items-center gy-3 gy-md-5">
    <div
      class="col-12 order-2 order-lg-1 col-lg-5 col-xxl-5 d-flex flex-column align-items-center align-items-lg-start"
    >
      <div class="mb-3 mb-lg-0 text-center text-lg-start px-4 px-lg-0">
        <h2 class="display-text mb-3">People are the Biggest Assets</h2>
        <p class="lead-text fw-normal text-muted mb-md-5">
          A great place to work at every stage of growth with Sopra Banking
          Software India
        </p>
      </div>
      <button [routerLink]="['/login']" class="post-btn shadow-md">
        Recommend &#x2192;
      </button>
    </div>
    <div class="col-12 order-1 order-lg-2 col-lg-7 col-xxl-7">
      <div class="">
        <img
          src="../../../assets/illustrations/atf.svg"
          alt="atf illustration"
          class="atf-image"
        />
      </div>
    </div>
  </div>
</div>
