@import "../../styles/settings.scss";

.display-text{
  font-size: large;
}
@media (min-width: 575px) {
  .display-text {
    font-size: x-large; } }
@media (min-width: 768px) {
  .display-text {
    font-size: xx-large; } }
@media (min-width: 992px) {
  .display-text {
    font-size: xx-large; } }
@media (min-width: 1200px) {
  .display-text {
    font-size: 50px; } }
@media (min-width: 1400px) {
  .display-text {
    font-size: 64px; } }

.lead-text{
  font-size: small;
  font-weight: 300;
}
@media (min-width: 575px) {
  .lead-text {
    font-size: medium; } }
@media (min-width: 768px) {
  .lead-text {
    font-size: x-large; } }
@media (min-width: 768px) {
  .lead-text {
    font-size: large; } }
@media (min-width: 1600px) {
  .lead-text {
    font-size: x-large; } }

.atf-image{
  height: 40vh;
  width: 100%;
}
@media (min-width: 575px) {
  .atf-image {
    min-height: 50vh; } }
@media (min-width: 992px) {
  .atf-image {
    min-height: 90vh; } }

.post-btn {
  padding: 13px 30px;
  background-color: #000;
  font-size: 14x;
  font-weight: bold;
  color: #fff; 
  width: 40%;
  border: 1px solid #000;
}
@media (min-width: 575px) {
  .post-btn {
    font-size: 18px; } }
@media (min-width: 768px) {
  .post-btn {
    font-size: 24px; } }
@media (min-width: 992px) {
  .post-btn {
    font-size: 16px;} }
    
.post-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000; 
}