<section
  style="background-color: #f1e7e7; height: 91vh"
  class="user-profile-bg"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 mb-6 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-2">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                border: 2px solid white;
              "
            >
              <img
                src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt="Avatar"
                class="img-fluid my-5"
                style="
                  width: 105px;
                  height: 105px;
                  border-radius: 50%;
                  object-fit: cover;
                "
              />
              <h3>
                <b>{{ userdata.userName }}</b>
              </h3>
              <p>
                <b
                  >{{ userdata.designation }} <br />
                  {{ userdata.roles }}</b
                >
              </p>
            </div>
            <div
              class="col-md-8"
              style="
                background-color: rgba(0, 0, 0, 0.77);
                color: #f4f5f7;
                border: 2px solid white;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <div class="card-body p-4">
                <div
                  style="color: white"
                  style="display: flex; justify-content: space-between"
                >
                  <h3><b>Personal Details</b></h3>
                  <i
                    class="fa fa-edit"
                    style="font-size: 24px; color: white"
                  ></i>
                </div>
                <hr />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h4><b>Email</b></h4>
                    <p style="color: #d0d0d0">{{ userdata.emailId }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h4><b>Phone</b></h4>
                    <p style="color: #d0d0d0">{{ userdata.phoneNum }}</p>
                  </div>
                </div>

                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h4><b>Employee ID</b></h4>
                    <p style="color: #d0d0d0">{{ userdata.employeeId }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h4><b>Department</b></h4>
                    <p style="color: #d0d0d0">{{ userdata.departments }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
