<div class="container-fluid">
  <div class="row align-items-lg-center py-lg-4">
    <div class="col-12 col-lg-6">
      <div class="d-none d-lg-block ">
      <img src="../../../assets/illustrations/landing.svg" alt="login" class="login-image"/>
    </div>
    <div class="d-block d-lg-none login-header d-flex align-items-center px-4"><img src="../../../assets/logos/download.png" alt="hr recommendation" class="hr-recomm-logo" /></div>
    </div>
    <div class="col-12 col-lg-6  form-section">
      <div class="login-wrapper">
        <h2 class="h3 fw-bold mb-4">Sign in</h2>
        <form action="#!">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group mb-3">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
          </div>
          <div class="d-flex justify-content-between align-items-center my-5">
            <input name="login" id="login" class="btn login-btn" type="button" value="Login">
            <a href="" class="forgot-password text-decoration-underline">Forgot Password?</a>
          </div>
        </form>           
        <p class="login-wrapper-footer-text">Need an account? <a href= "/signup" class="text-reset ">Signup here</a></p>
      </div>
    </div>
  </div>
</div>
