
<div class="container-fluid">
<div class="row align-items-lg-center py-lg-4">
  <div class="col-12 col-lg-6">
    <div class="d-none d-lg-block ">
    <img src="../../../assets/illustrations/landing.svg" alt="signup" class="signup-image"/>
  </div>
  <div class="d-block d-lg-none login-header d-flex align-items-center px-4"><img src="../../../assets/logos/download.png" alt="hr recommendation" class="hr-recomm-logo" /></div>
  </div>
<div class="col-12 col-lg-6 form-section">
  <div class="login-wrapper">
    <h2 class="h3 fw-bold mb-4">Sign up</h2>
    <form action="#!">
      <div class="form-group">
          <input type="text" name="name" id="name" class="form-control" placeholder="Name">
          <input type="text" name="empCode" id="empCode" class="form-control" placeholder="Employee Code">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group mb-3">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
      </div>
      <div class="d-flex justify-content-between align-items-center mb-5">
        <input name="signup" id="signup" class="btn signup-btn" type="button" value="Create Account">
      </div>
    </form>           
    <p class="login-wrapper-footer-text">Already have an account? <a href="/login" class="text-reset">Signin here</a></p>
  </div>
</div>
</div>
</div>
